{% extends "base.html" %}
{% block content %}

<div class="card-modern">
    <h2><i class="bi bi-person-plus"></i> Cadastrar Cliente</h2>
    <hr>

    <form method="POST">

        <div class="mb-3">
            <label>Nome:</label>
            <input type="text" name="nome" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>CPF:</label>
            <input type="text" name="cpf" id="cpf" class="form-control" maxlength="14" required>
        </div>

        <div class="mb-3">
            <label>Idade:</label>
            <input type="number" name="idade" class="form-control">
        </div>

        <div class="mb-3">
            <label>Endereço:</label>
            <input type="text" name="endereco" class="form-control">
        </div>

        <div class="mb-3">
            <label>Telefone:</label>
            <input type="text" name="telefone" class="form-control">
        </div>

        <div class="mb-3">
            <label>Observações:</label>
            <textarea name="observacoes" class="form-control"></textarea>
        </div>

        <button class="btn btn-success btn-modern">Cadastrar</button>
    </form>
</div>

<script>
document.getElementById("cpf").addEventListener("input", function() {
    let value = this.value.replace(/\D/g, "");

    if (value.length > 3 && value.length <= 6)
        this.value = value.replace(/(\d{3})(\d+)/, "$1.$2");
    else if (value.length > 6 && value.length <= 9)
        this.value = value.replace(/(\d{3})(\d{3})(\d+)/, "$1.$2.$3");
    else if (value.length > 9)
        this.value = value.replace(/(\d{3})(\d{3})(\d{3})(\d+)/, "$1.$2.$3-$4");
});
</script>

{% endblock %}
